<div class="container-fluid footer">
    <div class="row love d-flex justify-content-center">
        Made with ❤️ by JaHnVi
    </div>
    <div class="row d-flex footerDes justify-content-center">
        Copyright 2024. Jahnvi Goyal
    </div>
    <!-- <div class="row soicalLinks">
        <ul class="d-flex justify-content-center">
            <li *ngFor="let social of socialMedia">
                <a [href]="social.profileLink"><img [src]="social.imageLink" class="socialIcons" width="37px"></a>
            </li>
        </ul>
    </div> -->
</div>
